<div class="p-5 .content">
    <mat-card>
        <div class="card">
            <div class="tittle">
                <h1>Cadastrar Questão</h1>
            </div>
            <form class="question-main">
                <div class="question-tittle">
                    <div class="set-row">
                        <input class="col-12" placeholder="Título da Questão" required>
                    </div>
                    <div class="set-row">
                        <div class="col-4 pr-1">
                            <input placeholder="Tag da Questão" required>
                        </div>
                        <div class="col-3 pr-1">
                            <mat-select placeholder="Dificuldade">
                                <!-- <option name="nivel">Iniciante</option>
                                <option name="nivel">Intermediário</option>
                                <option name="nivel">Avançado</option> -->
                            </mat-select>
                        </div>
                        <div class="col-3 pr-1">
                            <mat-select placeholder="Matéria">
                                <option name="tipo">HTML5</option>
                                <option name="tipo">CSS3</option>
                                <option name="tipo">JavaScript</option>
                            </mat-select>
                        </div>
                        <div class="question-style col-2">
                            <mat-slide-toggle>
                                Formulário
                            </mat-slide-toggle>
                        </div>
                        
                    </div>
                </div>
                <div class="question-header">
                    <textarea id="message" placeholder="Pergunta" required></textarea>
                </div>
                
            </form>
                <div class="moldura-externa">
                    <label for="alternativa1">Se for Formulário:</label>
                    <div class="moldura-interna">
                        Alternativa 1
                    </div>
                    <div class="moldura-interna">
                        <label for="alternativa2">Alternativa 2</label>
                    </div>
                    <div class="moldura-interna">
                        <label for="alternativa3">Alternativa 3</label>
                    </div>
                    <div class="moldura-interna">
                        <label for="alternativa4">Alternativa 4</label>
                    </div>
                    <div class="moldura-interna">
                        <label for="alternativa5">Alternativa 5</label>
                    </div>
                </div>
            <div class="form-box">
                <h3>&nbsp;</h3>
                <hr>
                <form>
                    
                </form>
            </div>
        </div>
    </mat-card>
    
</div>