
::ng-deep .mat-mdc-select-placeholder {
    color: #a0a0a0;
}

.title {
    border-bottom: 1px solid var(--color3);
}

.question-main {
    border-bottom: 1px solid var(--color3);
    .question-title {
        .question-style {
            margin-top: 12px;
            display: flex;
            align-items: center;
        }
    }
    .question-header {
        overflow: hidden;
        border: 1px solid var(--color5);
        border-radius: 14px;
        background-color: #ffffff;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .question-header-input {
            margin: 0;
            min-height: 20vh;
            border-radius: 0;
            border: 0px;
            resize: none;
            overflow: auto;
            padding-left: 1rem;
            padding-top: 0.7rem;
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            &:focus-visible {
                box-shadow: none;
            }
        }
        &:focus-within {
            box-shadow: 0px 0px 5px 0px rgba(55,96,99,0.8);
        }
    }
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    box-shadow: inset 0px 0px 5px 0.5px rgba(235,100,64,1); // Personalize a cor de fundo quando checked for true
}
::ng-deep .mat-slide-toggle.mat-checked .mdc-switch__shadow {
    box-shadow: inset 0px 0px 5px 0.5px rgba(235,100,64,1);
}
