<div class="p-5 .content">
    <mat-card>
        <div class="card">
            <div class="title">
                <h1>Cadastrar Questão</h1>
            </div>
            <form class="question-main">
                <div class="question-title">
                    <div class="set-row">
                        <input class="col-12" placeholder="Título da Questão" required [(ngModel)]="question.title" name="title">
                    </div>
                    <div class="set-row">
                        <div class="col-4 pr-1">
                            <input placeholder="Tag da Questão" required [(ngModel)]="question.tag" name="tag">
                        </div>
                        <div class="col-3 pr-1">
                            <mat-select placeholder="Matéria" [(ngModel)]="question.subject" name="subject">
                                <mat-option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.description }}</mat-option>
                              </mat-select>
                        </div>
                        <div class="col-3 pr-1">
                            <mat-select placeholder="Dificuldade" [(ngModel)]="question.level" name="level">
                                <mat-option *ngFor="let level of levels" [value]="level.id">{{ level.description }}</mat-option>
                              </mat-select>
                        </div>
                        <div class="question-style col-2">
                            <mat-slide-toggle class="slide-toogle" [(ngModel)]="question.formType" (change)="toggleChecked()" name="formType">
                                Formulário
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <div class="question-header">
                    <textarea id="message" class="question-header-input" placeholder="Pergunta" required [(ngModel)]="question.header" name="header"></textarea>
                </div>
            </form>
            <div class="alternatives">
                <h3>Alternativas</h3>
                <div class="card">
                    <div class="alternative">
                        <span>a)</span>
                    </div>
                    <div class="alternative-text">
                        <textarea type="text" placeholder="Insira o texto da alternativa"></textarea>
                    </div>
                </div>
                <div class="card">
                    <div class="alternative">
                        <span>b)</span>
                    </div>
                    <div class="alternative-text">
                        <textarea type="text" placeholder="Insira o texto da alternativa"></textarea>
                    </div>
                </div>
                <div class="card">
                    <div class="alternative">
                        <span>c)</span>
                    </div>
                    <div class="alternative-text">
                        <textarea type="text" placeholder="Insira o texto da alternativa"></textarea>
                    </div>
                </div>
                <div class="card">
                    <div class="alternative">
                        <span>d)</span>
                    </div>
                    <div class="alternative-text">
                        <textarea type="text" placeholder="Insira o texto da alternativa"></textarea>
                    </div>
                </div>
                <div class="set-row justify-content-between mt-2">
                    <div class="card add-button">
                        <mat-icon>add</mat-icon>
                    </div>
                    <button class="btn-save" (click)="saveQuestion()">Salvar</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>