:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .app-content {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 120px;
  }
