<div class="p-5">
    <mat-card>
        <div class="card">
            <div class="tittle">
                <h1 class="mt-2">{{question.title}}</h1>
            </div>
            <div class="question">
                <span>
                  {{question.question}}
                </span>
            </div>
            <div class="answers">
                <div class="text">
                    <span *ngIf="question.isForm">Assinale a alternativa correta:</span>
                </div>

                <!-- Questões do tipo formulário -->
                <div class="form-type" *ngIf="question.isForm">
                    <div class="alternatives">
                        <div class="alternative">
                            <span class="option">a)</span>
                            <span class="alternative-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et modi itaque quibusdam corporis quisquam ipsa consequuntur alias praesentium totam quis facilis, accusamus animi temporibus culpa iusto suscipit provident necessitatibus dolorem.</span>
                        </div>
                        <div class="alternative">
                            <span class="option">b)</span>
                            <span class="alternative-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et modi itaque quibusdam corporis quisquam ipsa consequuntur alias praesentium totam quis facilis, accusamus animi temporibus culpa iusto suscipit provident necessitatibus dolorem.</span>
                        </div>
                        <div class="alternative">
                            <span class="option">c)</span>
                            <span class="alternative-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et modi itaque quibusdam corporis quisquam ipsa consequuntur alias praesentium totam quis facilis, accusamus animi temporibus culpa iusto suscipit provident necessitatibus dolorem.</span>
                        </div>
                        <div class="alternative">
                            <span class="option">d)</span>
                            <span class="alternative-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et modi itaque quibusdam corporis quisquam ipsa consequuntur alias praesentium totam quis facilis, accusamus animi temporibus culpa iusto suscipit provident necessitatibus dolorem.</span>
                        </div>
                    </div>
                </div>

                <!-- Questões para testar e compilar o codigo -->
                <div class="code-type" *ngIf="!question.isForm">
                    <app-code-editor></app-code-editor>
                </div>
            </div>
        </div>
    </mat-card>
</div>
