.question {
    padding: 14px;
    border-bottom: 1px solid var(--color3);
}

.answers {
    padding-top: 14px;
    .form-type {
        padding: 14px;
        .alternatives {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .alternative {
                padding: 1rem;
                background-color: var(--color9);
                border-radius: 14px;
                cursor: pointer;
                transition: 0.2s ease;
                display: flex;
                flex-direction: row;
                .option {
                    display: flex;
                    align-items: center;
                }
                .alternative-text {
                    padding-left: 10px;
                }
            }
            .alternative:hover {
                background-color: var(--color10);
                border-radius: 14px;
                cursor: pointer;
            }

            .selected {
              background-color: white;
              &:hover {
                background-color: white;

              }
            }

            .correct {
              background-color: greenyellow;
              &:hover {
                background-color: greenyellow;

              }
            }

            .incorrect {
              background-color: red;
              &:hover {
                background-color: red;

              }
            }
        }
    }
}

