<div class="content p-5">

    <mat-card>
        <div class="card">
            <div class="tittle">
                <h1 class="mt-2">Título da Questão</h1>
            </div>
            <div>
                <span>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi assumenda suscipit quae saepe inventore laborum vitae, velit neque debitis modi blanditiis laboriosam! Saepe optio ipsum, libero quia fugit minima. Esse!
                </span>
            </div>
            <app-code-editor></app-code-editor>
        </div>
    </mat-card>
    
</div>