<div style="height: 100%;" class="login-page">
    <div class="bg-opacity">
        <div class="container pt-5 text-center">
            <span><img class="login-logo" ></span>
            <form [formGroup]="signinForm" class="form mt-2 pr-0 text-center" #formEl>
                <div class="row text-center pt-1 pb-3">
                    <div class="col-md-6 col-lg-5 center">
                        <mat-card class="text-center">
                            <mat-card-header class="pt-2 text-center">
                                <mat-card-title class="text-center">
                                    <b>Acessar conta</b>
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-subtitle>
                                Faça o login para acessar a plataforma
                            </mat-card-subtitle>
                            <mat-card-content class="mb-1">

                                <div class="form-group mb-0">
                                    <mat-form-field class="width-90">
                                        <input formControlName="email" matInput placeholder="E-mail">
                                        <mat-error *ngIf="signinForm?.get('email')">
                                            Email inválido!
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="form-group">
                                    <mat-form-field class="width-90">
                                        <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" formControlName="password">
                                        <button class="visibility" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon  color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>

                            <mat-card-actions class="pb-2">
                                <div class="form-group">
                                    <div class="mb-2">
                                        <a class="small text-color-accent" routerLink="/signin/recovery"><span class="font-400 font-family">Esqueceu a senha?</span></a>
                                    </div>
                                    <button (click)="login()" *ngIf="!loading" mat-raised-button mat-button color="accent"
                                        class="btn btn-primary" [disabled]="signinForm.invalid" type="submit">
                                        Entrar
                                    </button>
                                    <mat-spinner class="center" *ngIf="loading" [diameter]="45">
                                    </mat-spinner>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>


            </form>
            <mat-spinner class="center mt-5"></mat-spinner>
        </div>
    </div>
</div>
