<div class="content">
    <div class="card">
        <div class="title">
            <h3>Seja bem-vindo!</h3>
            <span>Insira seus dados</span>
        </div>
        <div class="inputs">
            <input type="text" placeholder="Nome" required>
            <input type="email" placeholder="E-mail" required>
            <input type="text" placeholder="Matricula" required>
            <input type="password" placeholder="Senha" required>
        </div>
        <div class="access">
            <button class="btn-login" type="submit">CADASTRAR</button>
        </div>
    </div>
</div>
