<body>
    <header>
        <h1>Seja bem-vindo!</h1>
        <h2>Favor insira os seus dados:</h2>
    </header>
    
    <main>
        <div class="form-container">
            <form>
                <input type="text" placeholder="Nome" required>
                <input type="text" placeholder="Matricula" required>
                <div class="button-container">
                    <button type="submit">Acessar</button>
                </div>
            </form>
        </div>
    </main>
    
    <footer>
        &copy; 2023 Minha Pagina. Todos os direitos reservados.
    </footer>
</body>