<div class="section">
  <div class="conteudos">
    <div class="card">
      <h3>Titulo</h3>
      <span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident cum sed eligendi odit fugiat recusandae animi dolor culpa repellat, illum blanditiis dolorum libero consectetur, iure hic aperiam? Numquam, cum quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel similique ipsa, quos, deleniti possimus odit dolorum totam voluptatibus nemo itaque alias voluptas ratione voluptatem! Numquam sint quaerat omnis quos hic?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab tempore itaque neque magnam obcaecati animi quasi, aperiam cum praesentium commodi cumque iusto accusamus repellendus aut atque doloribus. Maxime, at quo.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias quae quasi officiis animi voluptas non consequuntur a in provident suscipit quis amet nulla ducimus reiciendis sapiente, quas nam tenetur doloribus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam neque totam eum nulla autem? Impedit placeat nisi accusamus consequuntur totam nihil, qui accusantium dolor tenetur eos quam distinctio, perferendis esse?
      </span>
      <div class="navigate-content">
        <button [routerLink]="'/conteudo/aprendizado/'">
          Quero aprender mais >>
        </button>
        <a [routerLink]="'/conteudo/questoes/'">
          Ir direto para as questões <span>>></span>
        </a>
      </div>
    </div>
  </div>
</div>
