<div class="section">
  <div class="conteudos">
    <div class="card">
      <h3>{{ content?.title }}</h3>
      <textarea rows="19">{{ content?.text }}</textarea>
      <div class="navigate-content">
        <button [routerLink]="'/conteudo/aprendizado/'" [queryParams]="{ subject_id: subjectId }">
          Aprender mais >>
        </button>
        <a [routerLink]="'/conteudo/questoes/'" [queryParams]="{ subject_id: subjectId }">
          Ir direto para as questões <span>>></span>
        </a>
      </div>
    </div>
  </div>
</div>

