<div [class.expand]="expandMenu" class="sidebar">
  <div class="filter">
    <mat-select [(value)]="selectedComponent" (selectionChange)="selectComponent($event.value)" placeholder="Tipo" class="sub-select">
      <mat-option [value]="0">Conteúdo</mat-option>
      <mat-option [value]="1">Questões</mat-option>
    </mat-select>
  </div>
  <div class="admin-manager" *ngIf="isAdmin && (learnComponent || questionComponent)">
    <div class="add">
      <mat-icon>add</mat-icon>
      <span [routerLink]="questionComponent ? urlQuestions : urlLearn">
        Adicionar
      </span>
    </div>
  </div>
  <div class="sub-filter" *ngIf="(learnComponent || questionComponent || selectedComponent >= 0)">
    <mat-select  [(value)]="selectedSubject" class="sub-select" placeholder="Matéria" (selectionChange)="getRoutes($event)">
      <mat-option *ngFor="let subject of subjects" [value]="subject">{{ subject.description }}</mat-option>
    </mat-select>
  </div>
  <ul>
    <li *ngFor="let navRoute of navRoutes">
      <div (click)="selectNavRoute(navRoute)">{{ navRoute.tag }}</div>
    </li>
  </ul>
</div>
