<header>
  <div class="logo col-2">
    <img src="caminho_para_o_logo.png" alt="Logo da empresa">
    <mat-icon (click)="expandMenu.emit()">menu</mat-icon>
  </div>
  <div class="center col-8">
    <div class="ranking">
      <span href="#">Nome Aluno</span>
      <a href="#">Ranking</a>
    </div>
    <nav class="learning-menu">
      <ul class="menu">
        <li class="learning"><a href="#">HTML5</a></li>
        <li class="learning"><a href="#">CSS3</a></li>
        <li class="learning"><a href="#">JavaScript</a></li>
      </ul>
    </nav>
  </div>
  <div class="login col-2">
    <!-- <a href="#" class="login-btn">Login</a>
    <a href="#" class="signup-btn">Cadastre-se</a> -->
  </div>
</header>
  