<header>
  <div class="logo col-2">
    <div>
      <h1>UniDEV</h1>
    </div>
    <!-- <mat-icon (click)="expandMenu.emit()">menu</mat-icon> -->
  </div>
  <div class="center col-8">
    <div class="ranking">
      <span href="#">Nome Aluno</span>
      <a href="#">Ranking</a>
    </div>
    <nav class="learning-menu">
      <ul class="menu">
        <li class="learning"><a [routerLink]="'introducao/html5'">HTML5</a></li>
        <li class="learning"><a [routerLink]="'introducao/css3'">CSS3</a></li>
        <li class="learning"><a [routerLink]="'introducao/javascript'">JavaScript</a></li>
      </ul>
    </nav>
  </div>
  <div class="login col-2">
    <!-- <a href="#" class="login-btn">Login</a>
    <a href="#" class="signup-btn">Cadastre-se</a> -->
  </div>
</header>
