@import 'colors.scss';

* {
    font-family: "Poppins", sans-serif;
    color: #2b2b2b;
}

*::placeholder {
    color: #a0a0a0;
}

.set-row {
    width: 100%;
    display: flex;
}

html,
body {
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: 200px 1fr;
}
    
.sidebar {
    grid-column: 1;
    position: fixed;
    top: 120px;
    left: 0;
    bottom: 0;
    width: 200px;
    max-width: 200px; 
    z-index: 50;
}
    
.content {
    grid-column: 2;
    width: calc(100vw - 217px);
}

.card {
    background-color: var(--color1);
    border-radius: 20px;
    border: 0;
    padding: 2rem;
    min-width: fit-content;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 1rem;
    border: 1px solid var(--color5);
    border-radius: 15px;
    max-height: 40px;
}

textarea {
    width: 100%;
    padding: 7px;
    margin-top: 1rem;
    border: 1px solid var(--color5);
    border-radius: 15px;
    max-height: 40px;
}

mat-select {
    padding: 7px;
    border: 1px solid var(--color5);
    border-radius: 15px;
    background-color: #ffffff;
    margin-top: 1rem;
}



.ipt-g {
    width: 100%;
}

.ipt-m {
    width: 60%;
}

.ipt-p {
    width: 40%;
}

.ml-1 {
    margin-left: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}