@import 'colors.scss';

* {
    font-family: "Poppins", sans-serif;
    color: #2b2b2b;
    transition: 0.2s ease;
    &::-webkit-scrollbar {
        width: 8px; /* Largura da barra de rolagem */
    }
    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Cor do botão de rolagem */
        border-radius: 4px; /* Arredondamento do botão de rolagem */
    }
    &::placeholder {
        color: #a0a0a0;
    }
    &:focus-visible {
        outline: none;
        box-shadow: 0px 0px 5px 0px rgba(55,96,99,0.8);
    }
    &::-webkit-scrollbar-track {
        background-color: #f2f2f2; /* Cor do fundo da barra de rolagem */
    }
}

.set-row {
    width: 100%;
    display: flex;
}

.row-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-right {
    width: 100%;
    display: flex;
    justify-content: right;
}

html,
body {
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: 200px 1fr;
}
    
.sidebar {
    grid-column: 1;
    position: fixed;
    top: 120px;
    left: 0;
    bottom: 0;
    width: 200px;
    max-width: 200px; 
    z-index: 50;
    box-shadow: 0px 0px 3px 0.5px rgba(216,231,233,1);
}
    
.content {
    grid-column: 2;
    width: calc(100vw - 217px);
}

.card {
    background-color: var(--color1);
    border-radius: 20px;
    border: 0;
    padding: 2rem;
    min-width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 1rem;
    border: 1px solid var(--color5);
    border-radius: 15px;
    max-height: 40px;
    box-shadow: 0px 0px 5px 0px rgba(55,96,99,0.1);
    transition: 0.3s ease;
}

textarea {
    width: 100%;
    padding: 7px;
    margin-top: 1rem;
    border: 1px solid var(--color5);
    border-radius: 15px;
    max-height: 40px;
}

mat-select {
    padding: 7px;
    border: 1px solid var(--color5);
    border-radius: 15px;
    background-color: #ffffff;
    margin-top: 1rem;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    box-shadow: inset 0px 0px 5px 0.5px rgba(235,100,64,1); // Personalize a cor de fundo quando checked for true
}
::ng-deep .mat-slide-toggle.mat-checked .mdc-switch__shadow {
    box-shadow: inset 0px 0px 5px 0.5px rgba(235,100,64,1);
}

.ipt-g {
    width: 100%;
}

.ipt-m {
    width: 60%;
}

.ipt-p {
    width: 40%;
}

.ml-1 {
    margin-left: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

