<div class="initial">
  <div class="section">
    <div class="conteudos">
      <div class="card-section">
        <div class="card">
          <div class="card-top">
            <h2>HTML5</h2>
            <div class="navigate-content">
              <button [routerLink]="subjects[1].introductionPage">
                Saiba mais >>
              </button>
            </div>
          </div>
          <span>
            HTML5 é utilizada para criar e estruturar o conteúdo das páginas da web. Ela traz consigo recursos avançados, como tags semânticas para melhor descrever o conteúdo, suporte a multimídia incorporada nativamente, formulários aprimorados, armazenamento local, geolocalização e APIs para interatividade. O HTML5 permite a criação de páginas web modernas, dinâmicas e interativas, melhorando a experiência do usuário e facilitando o desenvolvimento de aplicativos web.
          </span>
        </div>
      </div>
      <div class="card-section">
        <div class="card">
          <div class="card-top">
            <h2>CSS3</h2>
            <div class="navigate-content">
              <button [routerLink]="subjects[0].introductionPage">
                Saiba mais >>
              </button>
            </div>
          </div>
          <span>
            CSS3 é a versão mais recente do CSS, oferecendo recursos avançados para o design e estilo de páginas web. Com o CSS3, é possível aplicar efeitos de transição, animações, sombras, gradientes e transformações 3D. Ele aprimora a aparência e a interatividade das páginas, proporcionando uma experiência visual mais rica e envolvente para os usuários.
          </span>
        </div>
      </div>
      <div class="card-section">
        <div class="card">
          <div class="card-top">
            <h2>JavaScript</h2>
            <div class="navigate-content">
              <button [routerLink]="subjects[2].introductionPage">
                Saiba mais >>
              </button>
            </div>
          </div>
          <span>
            JavaScript é uma linguagem de programação amplamente usada para desenvolvimento web. Ela permite a criação de interações dinâmicas, validações de formulários, animações e muito mais. Com uma sintaxe simples e suporte multiplataforma, o JavaScript é essencial para a criação de páginas web interativas e responsivas, oferecendo uma experiência rica para os usuários.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
