<div class="p-5">
  <mat-card>
      <div class="card">
          <div class="tittle">
              <!-- <h1 class="mt-2">{{learn.title}}</h1> -->
              <h1 class="mt-2">Titulo</h1>
          </div>
          <div class="question">
              <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet odio fugit suscipit modi totam porro laudantium dolore quis aperiam sequi, reiciendis architecto accusantium esse deleniti non ullam illum quasi nemo.
                <!-- {{learn.text}} -->
              </span>
          </div>
      </div>
  </mat-card>
</div>
